#contentLeft {
    z-index: 1000;
    position: absolute;
    min-height: calc(100vh - 80px);
    width: 30%;
    min-width: 400px;

    background-color: #335;
    box-shadow: inset #0008 0px 100px 50px -100px;

    transition: all 0.5s;
}

#contentLeftDetail1 {
    width: calc(100% + 10px);
    height: 10px;
    
    background-color: #335;
    box-shadow: inset #0008 0px 100px 50px -100px;
}

#contentLeftDetail2 {
    width: 20px;
    height: 20px;
    float: right;
    transform: translateX(10px);

    background-color: #fff;
    border-radius: 50%;
}

#contentMenuButton {
    transform: translateY(-5px);
    padding-left: 18px;
    padding-right: 18px;

    color: #fff;
    font-weight: 800;
    width: fit-content;
    float: right;
    font-size: 50px;
    cursor: pointer;
    user-select: none;

    transition: all 0.5s;
}

#contentMenuButton:hover {
    background-color: #0002;
    border-radius: 50%;
}



#contentRight {
    position: absolute;
    right: 0px;
    min-height: calc(100vh - 80px);
    width: 70%;

    color: #335;

    transition: all 0.75s;
}

#settingsBar {
    width: 100%;
    height: 100px;
    margin-top: 70px;
}

.flexHolder {
    padding-left: 80px;
    display: flex;
    justify-content: left;
}

#settingsBar h3 {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 100px;
}

#settingsBar ul {
    z-index: 9999999999;
    margin: 20px;
    cursor: pointer;
    user-select: none;
    height: fit-content;

    box-shadow: #3358 0px 0px 0px 1px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;

    transition: all 0.25s;
}

#settingsBar ul:hover {
    background-color: #adf;
}

#settingsBar ul p {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 1rem;
    font-weight: 800;
}

#settingsBar ul div {
    position: absolute;
    transform: scale(0%);
}

#settingsBar ul div li {
    list-style: none;
    cursor: pointer;

    transition: all 0.2s;
}

#settingsBar ul div li:hover {
    font-weight: 800;
}

#rowAmount {
    margin: 20px;
    user-select: none;
    height: fit-content;

    box-shadow: #3358 0px 0px 0px 1px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;

    transition: all 0.25s;
}

#rowAmount button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 1rem;
    font-weight: 800;    
    border: none;
    color: #335;
    box-shadow: #3358 0px 0px 0px 1px;
    background-color: #fff;
    cursor: pointer;

    transition: all 0.25s;
}

#rowAmount button:hover {
    background-color: #adf;
}



.currentScale {
    width: 100%;

    background-color: #6bf;
    font-weight: 800;
}



.tabColumn {
    margin: 20px;
    width: calc(100% - 40px);
    user-select: none;

}

.tabColumn p {
    font-family: "Anonymous Pro", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.tabRow {
    display: flex;
    text-wrap: noWrap;
}

.tabRowLine {
    padding-left: 3px;
    padding-right: 1px;
    width: fit-content;
    float: left;

    cursor: pointer;

    transition: all 0.1s;
}

.tabRowLine:hover {
    background-color: #6bf8;
    border-radius: 10px;
}



#noteSelectArea {
    position: fixed;
    z-index: 99999999999999999;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 20vw);
    margin-left: 10vw;
    margin-right: 10vw;
    height: 30vh;

    background-color: #335;
    box-shadow: #0008 0px 0px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateY(110%);

    transition: all 0.5s;
}

.noteSelectString {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: calc(4px);
    display: flex;
    justify-content: space-evenly;

    background-color: #fffb;
    border-radius: 10px;
}

.noteSelect {
    width: calc((100% / 25) - 4px);
    height: fit-content;
    padding-top: 4px;
    padding-bottom: 4px;
    transform: translateY(8px);

    background-color: #fff2;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;

    transition: all 0.2s;
}

.noteSelect:hover {
    background-color: #fff4;
}



.stringButtonLayout {
    width: 100%;
    height: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.stringButtonHolder {
    width: calc(100% / 10);
    height: fit-content;
    padding-top: 4px;
    padding-bottom: 4px;

    background-color: #fff2;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.stringButtonHolder:hover {
    background-color: #fff4;
}



.stringButtonLayout {
    width: 100%;
    height: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.stringSettingHolder {
    width: calc(100% / 4);
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #fff2;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.stringSettingHolder:hover {
    background-color: #fff4;
}
