#content h1 {
    margin-top: 1em;
    text-align: center;
    color: #335;
    font-weight: 500;
    font-size: 3rem;
}

#content p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    text-align-last: center;
    color: #335;
    font-weight: 400;
    font-size: 1.5rem;
}

#content a {
    font-weight: 400;
}




#middle {
    position: absolute;
    width: 80%;
    height: calc(100% - 220px);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;

    background-color: #335;
    border-radius: 10px;
    overflow-y: scroll;
}

#middle::-webkit-scrollbar {
    background-color: #0000;
}

#middle::-webkit-scrollbar-thumb {
    background-color: #fff4;
    box-shadow: inset 0px 0px 0px 4px #335;
    border-radius: 10px;
}

#middle::-webkit-scrollbar-thumb:hover {
    background-color: #fff3;
}

#middle::-webkit-scrollbar-button {
    background-color: #0000;
}

#middle ul {
    height: fit-content;
    min-height: 110%;
}

#middle ul li {
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;

    list-style: none;
    color: #fff;
    box-shadow: inset 0px -1px 0px 0px #fff4;
    cursor: pointer;
    border-radius: 10px;
}

#middle ul li:hover {
    background-color: #fff2;
}

#middle ul li h4 {
    font-size: 2rem;
    font-weight: 800;
}

#middle ul li p {
    margin: 0px;

    color: #fffb;
    text-align-last: left !important;
    font-weight: 200;
}